<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">hashtagless</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right navbar-buttons">
        <li><%= link_to 'log out', signout_path %></li>
      </ul>
    </div>
  </div>
</nav>
<h1>dashboard</h1>


<a href=”/auth/twitter”>Login Via Twitter</a>