<div id="welcome_page" class="jumbotron">
<h1>hashtagless</h1>
<h2>so you never have to see a stupid hashtag again</h2>

  <a class="btn btn-primary btn-lg" role="button"<%= link_to "join", '/register' %></a>
  <a class="btn btn-primary btn-lg" role="button"<%= link_to "sign-in", '/signin' %></a>

</div>