@import "bootstrap";

body {
  font-family: 'Open Sans Condensed', sans-serif;
  width: 60%;
  margin: auto;
  text-align: center;
  padding-top: 60px;
}
.navbar-header {
  padding-left: 20%;
}

.navbar-buttons {
  padding-right: 20%;
}

#welcome_page {
  background: #ffffff;
}

.form-horizontal {
  width: 40%;
  margin: auto;
}

#form_label {
  text-align: left;
  padding-left: 0;
}

.notice {
  color: #cb4154;
}

.twitter {
  width: 65%;
  margin: auto;
  list-style-type: none;
  padding-top: 2em;
  padding-left: 0;
  font-size: 20px;
}

#welcome {
  font-size: 20px;
}
