@import "bootstrap";

body {
  font-family: 'Open Sans Condensed', sans-serif;
  width: 60%;
  margin: auto;
  text-align: center;
  padding-top: 60px;
}

.form-horizontal {
  width: 40%;
  margin: auto;
}

#form_label {
  text-align: left;
  padding-left: 0;
}


